.location {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: start;
    gap: 20px;   
}

.img-local {
    background: url(../img/img-local-mobile.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 192px;
}

.container-agenda {
    text-align: center;
}

.container-agenda a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-agenda img {
    height: 30px;
    width: auto;
}

.container-agenda .email {
    color: var(--text-color);
    text-decoration: underline;
}

.container-opening-hours span {
    font-weight: 700;
}

.img-opening-hours {
    background: url(../img/img-opening-hours-mobile.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}

.form form {
    background: var(--bg-dark);
    border-radius: 10px;
    padding: 24px 8px;
}

.form form input {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: var(--bg-light);
    color: var(--text-color);
    margin-bottom: 24px;
    padding: 10px 20px;
    font-size: 16px;
}

.form form textarea {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background: var(--bg-light);
    color: var(--text-color);
    margin-bottom: 24px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Inter";
}

.form form input::placeholder,
.form form textarea::placeholder {
    color: var(--secondary-color);
    font-family: "Inter";
    font-size: 16px;
}

.form form option:disabled {
    color: var(--secondary-color);
    font-family: "Inter";
}


.form form button {
    width: 100px;
    height: 45px;
    line-height: 5px;
}

@media screen and (min-width:768px) {
    .img-local {
        background: url(../img/img-local-tablet.jpg) no-repeat;
        background-size: cover;
        height: 400px;
    }

    .container-agenda a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0 auto 24px;
    }

    .img-opening-hours {
        background: url(../img/img-opening-hours-tablet.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 310px;
    }
}

@media screen and (min-width:1440px) {
    .container-local {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    
    .container-local-description {
        width: 586px;
    }
    
    .img-local {
        background: url(../img/img-local-desktop.jpg) no-repeat;
        background-size: cover;
        width: 590px;
        height: 418px;
    }

    .container-opening-hours {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .container-opening-hours p {
        width: 738px;
    }

    .img-opening-hours {
        background: url(../img/img-opening-hours-desktop.jpg) no-repeat;
        background-size: cover;
        width: 438px;
        height: 224px;
    }

    form {
        max-width: 648px;
        margin: 0 auto;
    }
}