footer {
    background: var(--bg-dark);
    color: var(--bg-light);
    padding: 48px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

footer .footer-logo {
    width: 80px;
    height: 104px;
}

.footer-social-media {
    font-family: "Merriweather";
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-media-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.icon-intagram-footer {
    height: 40px;
}

.icon-facebook-footer {
    height: 44px;
}

.copyright {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-social-media {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
        text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .footer-container {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
}