@font-face {
    font-family: "Playfair Display";
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #7A1F2B;
    --secondary-color: #C9A24D;
    
    --text-color: #2B1A1A;

    --bg-light: #F8F4EE;
    --bg-dark: #1C1212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Inter";
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    background-color: var(--bg-light);
}

.container {
    width: 312px;
    margin: 0 auto;
}

h1 {
    font-family: "Playfair Display";
    font-size: 32px;
    line-height: 42.7px;
    font-weight: 700;
    color: var(--bg-light);
    margin-bottom: 48px;
}

.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 312px;
    padding: 20px 0;
    font-family: "Merriweather";
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container {
        width: 648px;
        margin: 0 auto;
    }

    h1 {
        font-size: 40px;
        line-height: 53.3px;
        width: 410px;
    }

    .button {
        width: 320px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    h1 {
        width: 578px;
    }
}

