.hero {
    width: 100%;
    height: 558px;
}

.hero-home {
    background: url(../img/banner-home-mobile.jpg) no-repeat;
    background-size: cover;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 558px;
}

@media screen and (min-width: 768px) {
    .hero,
    .container-hero {
        height: 860px;
    }

    .hero-home {
        background: url(../img/banner-home-tablet.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .hero-home {
        background: url(../img/banner-home-desktop.jpg) no-repeat;
        background-size: cover;
    }
}